<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Info MaladiePlante</title>
</head>
<!--===============================================================================================-->
<nav class="navbar navbar-green default-color">
	<div class="container-fluid">
		<div class="navbar-header"> <a class="navbar-brand" href="#">Ponmitran</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/pageexpert}">Home</a></li>
			<li class="active"><a  th:href="@{/listMaladiePlant}">Consult a nutritionist</a></li>
			<li><a href="ajoutermaladie">Post your query</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
		</ul>
	</div>
</nav>
<!--===============================================================================================-->	


<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Problem statement</div>
			<div class="panel-body">
				<table class="table">
						<tr>
							<th>Query</th>
							<th>Symptoms</th>
							<th>Causes</th>
							<th>Treatment</th>
							<th>Preventive measures</th>
						</tr>
						<tr th:each="m:${infoMaladieP}">
							<td th:text="${m.nomMaladie}"></td>
							<td th:text="${m.symptomes}"></td>
							<td th:text="${m.causes}"></td>
							<td th:text="${m.traitement}"></td>
							<td th:text="${m.actionsPreventives}"></td>
						</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>